$c-primary: #223343;
$c-secondary: #FFB700;
$f-heading: 'Heebo', sans-serif;
$f-body: 'Karla', sans-serif;

html {
  scroll-behavior: smooth;
}

.main__site {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  &__wrapper {
    width: 75%;
    max-width: 1300px;
    margin: 0 auto;
  }

  &__divider {
    width: 100%;
    height: 1px;
    margin: 5rem 0;
    background-color: $c-primary;
  }
}

body {
  font-size: 16px;
  font-family: $f-body;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $f-heading;
}

p {
  font-family: $f-body;
}

a {
  color: $c-secondary;
}

.button {
  font-size: 1.1rem;
  border-radius: 7px;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  cursor: pointer;

  &__svg {
    width: 24px;
    height: 24px;
    stroke: $c-primary;
  }

  &--intro {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid $c-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    &:hover {
      border-color: $c-secondary;
      stroke: $c-secondary;

      .button__svg {
        stroke: $c-secondary;
      }
    }
  }

  &--submit {
    margin: 1rem 0;
    background-color: $c-primary;
    color: white;

    &:hover {
      color: $c-primary;
      background-color: $c-secondary;
    }
  }

  &--reply, &--cancel {
    font-size: .8rem; 
    padding: .7em 1rem;
    background-color: $c-primary;
    color:white;
  }

  &--hide {
    display: none;
  }
}

.description{
  h3 {
    font-size: 2rem;
  }

  p {
    padding-top: 1.2rem;
    line-height: 1.7rem;
  }
}

.screen-reader {
  &__text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
  }
}